.title {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
}

.tasks {
  width: 300px;
  padding: 0;
  margin: 20px auto 0;
  list-style-type: none;
  text-align: left;
}

.tasks > li {
  margin-top: 10px;
  border-bottom: 1px solid #eee;
}

.deleteBtn {
  float: right;
}

.msr_btn12 a {
  width: 180px;
  padding: 15px;
  color: #ffffff;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  text-decoration: none;
  background: #1b73ba;
  display: block;
  position: relative;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 15px 30px -15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 15px 30px -15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 15px 30px -15px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.msr_btn12 a:hover {
  opacity: 0.7;
}

.msr_box02 {
  background-color: #1b73ba;
  width: 230px;
}
.msr_box02 a {
  box-sizing: border-box;
  display: block;
  position: relative;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
.msr_box02 p {
  color: #ffffff;
  font-size: 13px;
  line-height: 1.6;
  padding: 0 20px 8px 8px;
}
.msr_box02 .ttl {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
  padding: 8px 20px 4px 8px;
}
.msr_box02 a:after {
  /* background-image: url(/stylerecipe_img/flat_white_box01.png); */
  background-repeat: no-repeat;
  bottom: 5px;
  content: ' ';
  display: inline-block;
  /* *display: inline;
  *zoom: 1; */
  height: 20px;
  position: absolute;
  right: 5px;
  width: 20px;
}
.msr_box02 a:hover {
  opacity: 0.8;
}

.ribbon2 {
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 7px 0;
  font-size: 18px;/*フォントサイズ*/
  background: #78d0f5;/*背景色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
}

.ribbon2 h3 {
  margin: 0;
  padding: 0 30px;
  border-top: dashed 1px #FFF;/*上の破線*/
  border-bottom: dashed 1px #FFF;/*下の破線*/
  line-height: 46px;
}

.ribbon2:before, .ribbon2:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbon2:before {
  /*左端の山形*/
  top: 0;
  left: 0;
  border-width: 30px 0px 30px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon2:after {
  /*右端の山形*/
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.msr_list06{
  margin:0 -10px;
}
.msr_list06 li{
  width:33.3%;
  padding:0 10px;
  display:inline-block;
  float:left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.msr_list06 li a{
  width:100%;
  padding:18px 0;
  color:#fff;
  font-size:16px;
  background:#1B73BA;
  border:2px solid #1B73BA;
  text-decoration:none;
  text-align:center;
  display:block;
  position:relative;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.msr_list06 li a::after{
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-bottom: solid 2px #fff;
  border-right: solid 2px #fff;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -3px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.msr_list06 li a:hover{
  background:#fff;
  color:#1B73BA;
}
.msr_list06 li a:hover::after{
  border-bottom: solid 2px #1B73BA;
  border-right: solid 2px #1B73BA;
}